@{
    ViewData["Title"] = "Index";
}

<h1>Publicaciones :</h1>
<p>@TempData["Mensaje"]<p/>


@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Precio</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (LogicaNegocio.Publicacion publicacion in Model)
            {
                <tr>
                    <td>@publicacion.Nombre</td>
                    <td>@publicacion.Estado</td>
                    <td>@publicacion.CalcularPrecio(@publicacion.ID) </td>
                    @if (publicacion.Estado.Contains("ABIERTA"))
                    {
                        @if (publicacion is LogicaNegocio.Subasta)
                        {
                           <td><a href="/Publicaciones/Edit/@publicacion.ID">Ofertar</a></td>
                        }else{
                           <td><a href="/Publicaciones/Comprar/@publicacion.ID">Comprar</a></td>
                             }
                    }
                    else{
                         <td></td>
                        }

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No existen Publicaciones</p>
}
